@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
/* navbar part */
nav{
 font-family:'ubuntu',sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 70px;
    background-color:#F55353;
    color:#fff;
}

a{
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

nav ul li{
    padding: 0 15px;
    cursor: pointer;
}
.brand img{
    width: 70px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 2rem;
}
h1{
    font-family:'Montserrat',sans-serif;
    font-size: 3rem;
    line-height: 1.5;
  }

.myintro{
padding: 3% 15%;
}

.myintro img{
    border-radius: 50%;
}

.maintext{
    padding: 100px;
}


#footer{
    background-color: #F55353;
  text-align: center;
  color:black;
  padding: 2% 10%;
}
