@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
/* bodypart */
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
/* navbar part */
nav{
 font-family:'ubuntu',sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 70px;
    background-color:#F55353;
    color:#fff;
}

a{
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

nav ul li{
    padding: 0 15px;
    cursor: pointer;
}
.brand img{
    width: 70px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 2rem;
}
/* Main container part */
.container{
    min-height: 72vh;
    background-color:white;
    color: white;
    font-family: 'varela Round',sans-serif;
    display: flex;
    margin: 22px auto;
    width: 75%;
    border-radius: 13px;
    padding: 32px;
    background-image: url('background.jpg');
}

.bottom{
    position: sticky;
    bottom:0;
    height: 100px;
    background-color:#F55353 ;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
width: 80vw;
text-align: center;
cursor: pointer;
}

.songItem{
height: 50px;
display: flex;
background-color:white;
color: black;
margin: 12px 0;
justify-content: space-between;
align-items: center;
border-radius: 30px;
}
.songItem img{
width: 50px;
margin:0 20px;
border-radius: 30px;
}

.timestamp{
    margin: 0 20px;
    cursor: pointer;
}
.songItemcontainer{
    margin-top:74px;
}

.songInfo{
    position:sticky;
    margin-bottom: 20px;
    left: 10vw;
    font-family: 'varela Round',sans-serif;
}
.songInfo img{
    position: relative;
   opacity: 0;
   transition: opacity 0.4s ease-in;
}

#footer{
    background-color: #F55353;
  text-align: center;
  color:black;
  padding: 2% 10%;
}